{% extends "ap2.j2" %}

{% block summary %}
<p>Het applicatieprofiel voor de Lokale Economie richt zich op het verzamelen, analyseren en beheren van gegevens met betrekking tot passanten, verkooptransacties en factoren die mogelijk invloed hebben op de lokale economie. </p>

<p>Dit applicatieprofiel werd ontwikkeld om de verschillende datastromen met betrekking tot lokale economie data semantisch te modelleren en de structuur van dergelijke data te standaardiseren. Het richt zich op het verzamelen, analyseren en beheren van gegevens met betrekking tot passanten, verkooptransacties en alle factoren die mogelijk invloed hebben op de lokale economie.</p>
<p>Volgende informatie wordt gecapteerd met betrekking tot data omtrent lokale economie: de transacties die plaatsvinden bij organisaties, passantendata, verkeersdata, omgevingsobservaties (e.g. weer, gebeurtenissen, ...), georganiseerde evenementen, ...</p>
<p>Een meer formele beschrijving van de termen die het applicatieprofiel gebruikt is te vinden in het <a href="https://data.vlaanderen.be/ns/lokale-economie">vocabularium OSLO – Lokale Economie</a>. </p>
{% endblock %}
