{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium OSLO-Lokale Economie definieert termen die van toepassing zijn om gegevens uit te wisselen over een lokale economie. Meerbepaald gaat het over bezoekersmetingen, transacties en alle factoren in de omgeving die een invloed kunnen hebben op de lokale economie. Het vocabularium geeft een overzicht van de gebruikte terminologie en daaraan gekoppelde definities.</p>
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
